.table {
  width: -webkit-fill-available;
}

.row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dbe1e6;
  padding: 10px 30px;
  align-items: center;
}

td {
  color: #4e6172;
  font-size: small;
}

td:nth-child(1) {
  width: 5%;
}

td:nth-child(2) {
  width: 10%;
  text-transform: uppercase;
}

td:nth-child(3) {
  width: 60%;
  font-weight: 500;
}

td:nth-child(4) {
  width: 25%;
  text-align: right;
}

.icon {
  color: #2b6eca;
}
